@charset "UTF-8";

section{
            height:1000px;
            margin: auto;
            background-color: white;
        }

        #main_article1,#main_article2{
            height: 100px;
            margin: auto;
            clear: both;
        }

        .header,.bodys {
            clear: both;
            position: relative;
            top: 50px;
        }
        
        hr,table {
            width: 80%;
            border: 2px solid #94A68F;
        }

        table{
            margin-left: 10%;
            margin-top: 30px;
        }

        span {
            margin-left: 15%;
            color: #730202;
            font-size: 20px;
            font-weight: bold;
        }

        span.s1 {
            float: right;
            margin-right: 15%;
        }

        .tableTop{
            color: #F2EAC2 ;
        }

        .tableCon{
            color:#400101;
            font-weight: bold;
            font-size: 15px;
        }

        .no{
            width: 15px;
            text-align: center;
        }

        .title{
            width: 75%;
            padding-left: 10px;
        }

        .author{
            font-size: 18px;
        }

        #page{
            height: 100px;
            margin: auto;
            clear: both;
            text-align: center;
        }
        #moveP{
           display: inline-block;
        }

        #moveP li{
            float: left;
            list-style: none;
            border: 1px solid #1C4025;
            border-radius: 5px;
            padding: 2px 5px;
            margin: 3px;
        }

        #moveP a{
            text-decoration: none;
            color: #400101;
        }