@charset "UTF-8";

*{
	box-sizing: border-box;
}

section{
            height:1000px;
            margin: auto;
            background-color: white;
        }

        #main_article1,#main_article2{
            height: 100px;
            margin: auto;
            clear: both;
        }

        .header,.bodys {
            clear: both;
            position: relative;
            top: 50px;
        }
        
        hr{
        	width: 80%;
            border: 2px solid #94a68f;
        }
        
        .boardD{
        	width: 80%;
            margin-left: 10%;
            display: relative;
        }

        table{
	        width: 90%;
            margin-left: 5%;
            margin-top: 30px;
            margin-bottom: 50px;
            border-spacing: 0;
            border-collapse: sererate;
        }

        span {
            margin-left: 15%;
            color: #730202;
            font-size: 20px;
            font-weight: bold;
        }

        span.s1 {
            float: right;
            margin-right: 15%;
        }
        
        tr {
	        width: 100%;
    	    text-align: center;
    	    padding: 5px;
        }
        
        .topR {
			height: 50px;
            background-color: #F2EAC2 ;
            color: #1c4025;
        }
        
        .tableTop{
    	    font-weight: bold;
        }
        
        .fixed1, .fixed2 {
    	    background-color: #94a68f;
			color: #f2eac2;        	
        }

        .tableCon{
            color:#400101;
            font-size: 15px;
            height: 35px;
            padding: 10px;
            font-weight: bold;
        }

        .no{
            width: 10px;
            text-align: center;
        }

        .title{
            width: 50%;
            padding-left: 10px;
        }
		
		.title a{
			text-decoration: none;
			color : #400101;
		}

        .author{
            font-size: 18px;
            width: 15%;
        }
        
        .date{
            width: 15%;
        }
        
        .rank{
            width: 10%;
        }

        #page{
            height: 100px;
            margin: auto;
            clear: both;
            text-align: center;
        }
        #moveP{
           display: inline-block;
        }

        #moveP li{
            float: left;
            list-style: none;
            border-radius: 5px;
            padding: 2px 5px;
            margin: 3px;
        }

        #moveP a{
            text-decoration: none;
            color: #400101;
        }
