@charset "UTF-8";

#main_article1,#main_article2{
    margin: auto;
    clear: both;
    position: relative;
}


#page{
    clear: both;
    width: 80%;
    height:1000px;
    margin-top: 30px;
}

.listB{
	clear: both;
	
    margin-left: 5%;
}


#foot{
	width: 80%;
	text-align:center;
	margin-left: 10%;
	float: left;
}

#main_article2{
	text-align: center;
}


.list{
	clear: both;
	display: inline;
}


.List ul{
    float: left;
    height: 210px;
    white-space:nowrap;
    text-overflow: ellipsis; 
    overflow:hidden;
}


.List li{
    width: 180px;
    text-align: center;
    list-style: none;
    white-space:nowrap;
    text-overflow: ellipsis; 
    overflow:hidden;
}

.title > a{
    color:#1C4025;
    font-weight: bold;
    font-size: 14px;
}

.author > a{
    text-decoration: none;
    color : #94A68F;
    font-size: 10px;
}

.header,.bodys {
    clear: both;
    position: relative;
    top: 50px;
}

hr {
    width: 80%;
    border: 2px solid #94A68F;
}

#menu{
    width: 70%;
    display: block;
}

#menu ul{
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

#menu li{
    float: left;
    font-size: 20px;
    margin-right: 16px;
    list-style: none;
    white-space: nowrap;
}


#menu li:hover{
    cursor: pointer;
    font-weight: bold;
}

#preB,#nextB,#menu{
    float: left;
}

#preB{
    margin-left: 10%;
}

#nextB{
    margin-left: 5%;
}

.moveB:hover{
    color: #400101;
    cursor: pointer;  
}

.moveB{
    margin: 0px;
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#cate{
    clear: both;
    color: #400101;
}

.now{
    font-weight: bold;
}

.List img{
    border: 1px solid #1C4025;
    border-radius: 5px;
    padding: 2px;
    margin-top: 30px;
}

#moreBtn{
	border : 0;
	outline : 0;
	background-color: #1C4025;
	color : #F2EAC2;
	border: 1px soid #1C4025;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	font-weight: bold;
}

#moreBtn:hover{
	background-color: #F2EAC2;
	color : #1C4025;
	font-weight: bold;
	cursor: pointer; 
}