@charset "UTF-8";

.mainbody {
	position: relative;
	top: 100px;
}

.maincontent {
	height: 1000px;
}

hr {
	width: 80%;
	border: 2px solid #94A68F;
}

.boardsearch {
	position: relative;
	top: 200px;
}

.title {
	margin: 15px 11%;
	color: #730202;
}

.viewBoard {
	margin: 0px 10%;
}

.booklist {
	list-style: none;
	margin: 0px 10%;
	padding: 0px;
}

.bookcover {
	width: 200px;
	height: 250px;
}

.booklist>li {
	display: inline-block;
	float: left;
	width: 250px;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.moreBtn{
	color: #730202;
	float: right;
	text-decoration: none;
}

.bookTitle {
	font-weight: bold;
}

.bookData {
	font-size: 11.5px;
	color: gray;
}

.boardTitle {
	font-weight: bold;
	font-size: 20px;
}

.boardUser {
	font-size: 13px;
	color: gray;
}

.boardData {
	font-size: 13px;
}